<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inuplan Intranet</title>
    @Styles.Render("~/Content/Libraries/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/Libraries/modernizr")
</head>
<body>
    @{ Html.RenderAction("Menu", "Home"); }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Inuplan Intranet</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/Libraries/jquery")
    @Scripts.Render("~/bundles/Libraries/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
