@model Inuplan.Common.Models.User
@{ 
    ViewBag.Title = string.Format("{0} {1} Billeder", Model.FirstName, Model.LastName);
}

<h2>@Model.FirstName @Model.LastName - Alle Billeder</h2>

<!-- ko with: vm -->
<div class="row">
    <div class="col-lg-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: withComments" /> 
                Vis kommentarer?
            </label>
        </div>
    </div>
</div>
<div class="row" data-bind="foreach: images">
    <div class="col-lg-2 col-sm-3 col-xs-12" data-bind="attr: { id: imageId }">
        <a data-bind="click: function(){ showModal(true) }">
            <img class="thumbnail img-responsive" data-bind="attr: { src: thumbnailUrl }" />
        </a>
        <div data-bind="if: $parent.withComments">
            <span class="label label-primary">Antal kommentar: <span data-bind="text: numberOfComments"></span></span>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" role="dialog" data-bind="modal: showModal ,attr: { id: modalId }">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Filnavn: <span data-bind="text: fullname"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <a data-bind="attr: {href: originalUrl}" target="_blank">
                                <img class="img-responsive center-block img-rounded" data-bind="attr: {src: previewUrl }" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row" data-bind="if: $parent.withComments">
                        <div class="col-lg-12 text-left">
                            <h5><strong>Kommentar</strong></h5>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /ko -->

@section styles
{
    @Styles.Render("~/Content/userimage")
}

@section scripts 
{
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/UserImages.js">
    </script>
    <script>
        $(function () {
            var app = new appViewModel('@string.Format("/api/{0}/image", Model.Username)');
            ko.applyBindings(app);
        })
    </script>
}