@model Inuplan.Common.Models.User

<h2>@Model.FirstName @Model.LastName - Alle Billeder</h2>
<!-- TODO: Create ajax page by utilizing the proxy-api -->

<div class="row" data-bind="foreach: images">
    <!-- Template -->
    <div class="col-lg-2 col-sm-3 col-xs-4">
        <a class="thumbnail" data-bind="attr: { href: originalUrl }">
            <img class="img-responsive" data-bind="attr: { src: thumbnailUrl }">
        </a>
        Antal kommentar: <span data-bind="text: comments"></span>
    </div>
</div>

@section styles
{
    @Styles.Render("~/Content/userimage")
}

@section scripts 
{
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/UserImages.js">
    </script>
    <script>
        var url_path = "/api/" + '@Model.Username' + "/image";
        $(function () {
            var vm = new UserImagesViewModel();
            ko.applyBindings(vm);
        })
    </script>
}