@model Inuplan.Common.Models.User
@{ 
    ViewBag.Title = string.Format("{0} {1} Billeder", Model.FirstName, Model.LastName);
}

<h2>@Model.FirstName @Model.LastName - Alle Billeder</h2>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- ko with: vm -->
<div class="row" data-bind="foreach: images">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a data-toggle="modal" data-target="#myModal">
            <img class="thumbnail img-responsive" data-bind="attr: { src: previewUrl }">
        </a>Antal kommentar: <span data-bind="text: numberOfComments"></span>
    </div>
</div>
<!-- /ko -->

@section styles
{
    @Styles.Render("~/Content/userimage")
}

@section scripts 
{
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/UserImages.js">
    </script>
    <script>
        $(function () {
            var app = new appViewModel('@string.Format("/api/{0}/image", Model.Username)');
            ko.applyBindings(app);
        })
    </script>
}