@{
    ViewBag.Title = "Brugere";
}

<h2 class="text-capitalize">Brugere</h2>
<hr />
<div class="row" data-bind="foreach: users">
    <div class="col-lg-4 panel panel-default">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <div class="row">
            <div class="col-lg-6">
                <strong>ID</strong>
            </div>
            <div class="col-lg-6" data-bind="text: id"></div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <strong>Brugernavn</strong>
            </div>
            <div class="col-lg-6" data-bind="text: username">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <strong>Fornavn</strong>
            </div>
            <div class="col-lg-6" data-bind="text: firstname"></div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <strong>Efternavn</strong>
            </div>
            <div class="col-lg-6" data-bind="text: lastname"></div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <strong>Email</strong>
            </div>
            <div class="col-lg-6" data-bind="text: email"></div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <strong>Bruger-rettighedstyper</strong>
            </div>
            <div class="col-lg-6" data-bind="foreach: roles">
                <div data-bind="text: name"></div>
            </div>
        </div>
    </div>
</div>
<nav>
    <ul class="pagination" data-bind="foreach: total_pages">
        <li>&laquo;</li>
        <li data-bind="text: $data"></li>
        <li>&raquo;</li>
    </ul>
</nav>
@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Pages/UserIndex.css")" />
}

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/Pages/UserIndex.js"></script>
    <script>
        $(function() {
            var app = new AppViewModel('@ViewBag.Remote', @ViewBag.Skip, @ViewBag.Take);
            ko.applyBindings(app);
        });
    </script>
}
